#signup-form form {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signup-form form input:disabled {
    opacity: .5;
}

.form-input {}

.form-input span {
    position: absolute;
    top: 0;
    left: 25px;
    background: white;
    opacity: 0;
    color: gray;
    z-index: 0;
}

.form-input span.span-in,
.form-input span:focus {
    animation: spanIn .5s forwards;
}

.form-input span.span-out {
    animation: spanOut .5s forwards;
}

@keyframes spanIn {
    from {
        opacity: 0;
        font-size: 15px;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spanOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        font-size: 15px;
        transform: translateY(10px);
        display: none;
        z-index: -1;
    }
}

.form-input-container {
    display: flex;
    position: relative;
}

#SignInPage .form-input {
    min-height: fit-content;
    height: fit-content;
}
#SignInPage .form-input .form-input-container {
    width: 100%;
}